/* Start Global Rules */

:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

header {
  background-image: url(../images/bg-hero-desktop.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50px;
  background-color: var(--very-pale-cyan);
}

header .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  header img {
    width: 120px;
  }
}

header a {
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 15px rgb(0 0 0/ 10%);
}
@media (max-width: 767px) {
  header a {
    padding: 5px 25px;
  }
}
header .active:hover {
  color: var(--grayish-blue);
  transition: 0.5s;
}
header a {
  color: var(--very-dark-cyan);
  font-weight: bold;
}

.community {
  padding-top: 100px;
}

.community .container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 767px) {
  .community .container {
    flex-direction: column;
    text-align: center;
  }
}
.info h1 {
  font-size: 35px;
}
.info p {
  color: var(--very-dark-cyan);
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}
.info a {
  color: white;
  background-color: var(--pink);
  padding: 20px 65px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.5s;
}
.info a:hover {
  background-color: hsl(322deg 100% 66% / 80%);
}
.community .container img {
  width: 650px;
  max-width: 100%;
}

.grow {
  padding-top: 100px;
  padding-bottom: 100px;
}

.grow .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgb(0 0 0/ 10%);
}
@media (max-width: 767px) {
  .box {
    flex-direction: column-reverse;
    padding: 80px 15px;
  }
}
.box img {
  width: 400px;
}
@media (max-width: 767px) {
  .box img {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .box .text {
    text-align: center;
  }
}
.box p {
  color: var(--grayish-blue);
}
.build {
  padding-bottom: 50px;
}
.build .container {
  display: flex;
  justify-content: center;
}
.note {
  text-align: center;
  width: fit-content;
  box-shadow: 0px 2px 15px rgb(0 0 0/ 10%);
  padding: 50px 100px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .note {
    padding: 45px 0px;
  }
}
h3 {
  font-size: 25px;
  margin-bottom: 40px;
}
.note a {
  color: white;
  background-color: var(--pink);
  padding: 15px 65px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.5s;
}

.note a:hover {
  background-color: hsl(322deg 100% 66% / 80%);
}

footer {
  background-color: var(--very-dark-cyan);
  padding: 100px 0px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer a {
  color: white;
  margin-bottom: 20px;
}
.logo-img {
  filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(213deg)
    brightness(108%) contrast(100%);
  margin-bottom: 50px;
}

.location {
  display: flex;
  margin-bottom: 20px;
}
.location img {
  width: 16px;
  height: 16px;
  margin: auto 20px;
}
.location p {
  color: white;
  margin: auto 0px;
  color: var(--grayish-blue);
}

footer a {
  display: block;
  transition: 0.5s;
}
footer a:hover {
  text-decoration: underline;
}
footer .info {
  flex-basis: 35%;
}
footer .info p {
  color: white;
}
.about {
  flex-basis: 25%;
}
.carrer {
  flex-basis: 25%;
}
.icons {
  display: flex;
}
@media (max-width: 767px) {
  .icons {
    margin: 30px auto;
  }
}
i {
  margin-right: 10px;
  color: white;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  transition: 0.5s;
}

i:hover {
  color: var(--pink);
  border-color: var(--pink);
}
